.NavBar {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    position: relative;
}

.NavBar-Top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.NavBar-button {
    background-color: transparent;
    border: none;
    height: 6vh;
    max-width: 100vw;
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
}

.NavBar-button:hover {
    color: lightgray;
    cursor: pointer;
}

.NavBar-Logo1 {
    height: 2vh;
}

.NavBar-searchIcon {
    height: 2.5vh;
}

.NavBar-SubMenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 0;
    z-index: 1001;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    opacity: 0;
}

.NavBar-Store:hover .NavBar-SubMenu,
.NavBar-Physics:hover .NavBar-SubMenu,
.NavBar-Music:hover .NavBar-SubMenu,
.NavBar-Sports:hover .NavBar-SubMenu {
    opacity: 1;
    transform: translateY(0) ease 0.3s;
}

.NavBar-Item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.NavBar-Item a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.NavBar-Item a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}