.Physics {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 0 0 0;
}

.Physics-hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.Physics-heroVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.Physics-heroLogo {
    position: relative;
    z-index: 2;
}


.Physics-heroCover {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 0 5% 0 5%;
    width: 90%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    position: relative;
    z-index: 1;
}

.Physics-heroLogo {
    height: 9%;
    margin-bottom: 0.5%;
}

.Physics-heroCover p {
    margin: 0;
    color: aliceblue;
}

.Physics-heroCover button {
    margin: 1.5% 0 6% 0;
    background-color: aliceblue;
    color: black;
    border: none;
    padding: 1%;
    width: 25%;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.Physics-heroCover button:hover {
    cursor: pointer;
    background-color: rgb(202, 210, 216);
}

.Physics-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.Physics-introVideo {
    width: 60%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 8px 10px 20px -2px rgba(0, 0, 0, 0.6);
    background-image: url('https://i.pinimg.com/1200x/ed/fb/fe/edfbfeedaaede57f54ade84437f4c1bf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Physics-desc {
    width: 60%;
    padding: 0% 20% 3% 20%;
}

.Physics-desc p {
    font-size: 1.5rem;
}

.Physics-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh;
    height: 15vh;
}

.Physics-next a {
    font-size: 1.5rem;
    color: #0074FF;
}